/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-17, 15:07:52
    Author     : ew_ka
*/

.panel-footer {
    clear: both;
}

.navbar {
    float: left;
    width: 10%;
}

.text_area {
    width: 100%;
    min-height: 300px;
}

.content {
    float: right;
    width: 90%;
}

.footer{
    width: 100%;
    background-color: #15262B;
    color: white;

}

.center-text{
    text-align: center;
}

.text-right
{
    text-align: right;
}

body{

}
.table-own{
    margin: 0 auto !important;
    text-align: center;margin: 0 auto;
}

#footer
{
    width: 100% !important;
    padding: 0 !important;
    
}

#logo{
    width: 300px; 
    height: 200px;
    background: url("http://www.ipharmd.net/clipart/?file=medical_logo_gold.png&full=true") no-repeat;
}